# .env.example
GEMINI_API_KEY=
PORT=3000
VITE_API_URL=
VITE_SUPABASE_URL=https://vfdmpuxvzixtucbuvpas.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_0k4a2wiQto8iePgNQu3rkw_qZu_yZm7
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.vfdmpuxvzixtucbuvpas.supabase.co:5432/postgres
NODE_ENV=development
